{%extends 'main.html'%}
{% load static %}
{% block content%}
<div class="container-fluid main-container">
    <div class="row">

        {% include 'chat/topics_component.html' %}

        <div class="col-md-7 chat-room-main">
            <div class="chat-room-main-header">
                <div>
                    <h5>Chat Room</h5>
                    <small class="room-created">{{rooms.count}} Rooms available</small>
                </div>
                <a href="{% url 'create-room' %}" class="btn btn-sm btn-create-room">
                    <i class="fas fa-plus me-1"></i> Create Room
                </a>
            </div>

            {% include 'chat/feed_component.html'%}
        </div>

        <div class="col-md-3 recent-activities-sidebar">
            {% include 'chat/activity_component.html'%}

        </div>
    </div>
</div>
{%endblock%}