{%extends 'main.html'%}
{%block content%}
<div class="login-page">
  <div class="login-container">
    <h2 class="login-header d-flex align-items-center justify-content-center position-relative">
      <a href="{% url 'home' %}" class="position-absolute start-0">
        <i class="fas fa-arrow-left"></i>
      </a>
      Create/Update Chat Room
    </h2>

    <form class="form" action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        <label for="room_topic">Topic Name</label>
        <input type="text" name="topic" class="form-control" id="topic" value="{{room.topic.name}}" list="topic_list">
        {{ form.login.errors }}
        <datalist id="topic_list">
          <select name="room_topic" id="">
            {%for topic in topics%}
            <option value="{{topic.name}}">{{topic.name}}</option>
            {%endfor%}
          </select>
        </datalist>
      </div>
      <div class="form-group">
        <label for="name">Room Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Room Name"
          value="{{ form.name.value|default_if_none:'' }}">
        {{ form.name.errors }}
      </div>
      <div class="form-group">
        <label for="description">Room Description</label>
        <input type="text" name="description" class="form-control" id="description"
          placeholder="Room Description" value="{{ form.description.value|default_if_none:'' }}">
        {{ form.description.errors }}
      </div>
      <button type="submit" class="btn-login">
        <i class="fas fa-paper-plane"></i> Submit
      </button>
    </form>
  </div>
</div>
{%endblock%}