<div class="col-md-2 topics-sidebar">
    <h5>Browse Topics</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'topics'%}">All </a> <span class="badge rounded-pill">{{topics_count}}</span>
        </li>
        {%for topic in topics%}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'home'%}?q={{topic.name}}">{{topic.name}}</a> <span class="badge rounded-pill">{{topic.room_count}}</span>
        </li>
        {%endfor%}
    </ul>
    <a href="{% url 'topics' %}" class="more-link mt-2 d-block">More <i class="fas fa-chevron-down fa-xs"></i></a>
</div>