{%extends 'main.html'%}
{% load static %}
{% block content%}
<div class="container-fluid main-container">
  <div class="row">

    {% include 'chat/topics_component.html' %}

    <div class="col-md-7 chat-room-main">
      <div class="chat-room-main-header">
        <div class="profile-container">
            <div class="avatar-wrapper">
              <img class="user-avatar" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'images/avatar.svg' %}{% endif %}" alt="User Avatar"  />
            </div>
            <div class="text-container">
              {% if user.first_name %}
                <div class="name-text">{{user.first_name}}</div>
                <div class="user-tag">@{{user.first_name}}</div>
              {% else %}
                <div class="name-text">{{user.username}}</div>
                <div class="user-tag">@{{user.username}}</div>
              {% endif %}
            </div>
            {% if request.user == user%}
            <a href="{% url 'update-user' %}" class="edit-profile-button">Edit Profile</a>
            {%endif%}
        </div>
        
      </div>
      <div>
        <p>CHAT ROOMS HOSTED BY {{user.first_name|upper}}</p>
      </div>
      {% include 'chat/feed_component.html'%}
    </div>

    <div class="col-md-3 recent-activities-sidebar">
      {% include 'chat/activity_component.html'%}

    </div>
  </div>
</div>
{%endblock%}